.bangzhu {
    width: 100%;
    height: auto;
    background: #fff;
    padding-bottom:3.3rem;
}
.bangzhu .slide {
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.bangzhu .slide li {
    width: 100%;
    font-size:0.75rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #eee;
}
.bangzhu .slide li p {
    text-indent: .8rem;
    display: none;
    line-height: 1.5rem;
    color: #8e8e8e
}
.bangzhu .slide li span {
    display: flex
}
.bangzhu .slide li span em {
    flex: 1
}
.bangzhu .slide li span i img {
    display: inline-block;
    width: 1.25rem;
    height: 0.875rem;
    margin-top: 0.75rem
}